---
import Layout from "../layouts/Layout.astro";
import Theming from "../components/theming.svelte";
import Socials from "../components/socials.astro";
---

<Layout title="HPsaucii's Site">
	<header>
		<h1>HPsaucii's site :3</h1>
    <h2>Yes thats right, my own personal website!</h2>
	</header>
	<main>
		<p>What can you do here? Well, not a whole lot right now, but im hoping that will change soon!</p>
		<p><a href="https://codeberg.org/hpsaucii/pages-src" target="_blank">You can view this web pages source code here</a></p>
	</main>
	<footer>
		<Socials />
		<div id="webring"><a href="https://ctp-webr.ing/hpsaucii/previous">&larr;</a><a href="https://ctp-webr.ing/">Catppuccin webring</a><a href="https://ctp-webr.ing/hpsaucii/next">&rarr;</a></div>
		<Theming client:load />
		</footer>
</Layout>

<style>
	body {
		margin: 0;
		color: var(--text);
		font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
		background-color: var(--base);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		min-height: 100vh;
		line-height: 1.1;
		text-align: center;
		justify-content: center;
		align-items: center; 
		margin-left: 0;
	}

	h1 {
		font-size: 4.5rem;
		font-weight: 700;
		margin-bottom: -5px;
	}

	h2 {
		font-size: 2.4rem;
		font-weight: 600;
	}

	p {
		color: var(--subtext0);
		font-size: 1.6rem;
		font-weight: 400;
	}

	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
		
	a {
		color: var(--accent);
	}

	a:link, a:visited {
		text-decoration: none;
	}

	a:hover, a:active {
		text-decoration: underline;
	}
	
	#webring {
		margin: 10px;
	}
</style>
